/* ==|== _primary job search =============================================
    find a job module used on landing pages         

========================================================================== */

@media only screen and (max-width: 500px)
{
    .search-select .form fieldset legend
    {
        display: none;
    }
}

.prim-job-search-innner .search-select .form .form-field input[type="radio"] + label:before
{
    background-color: #fff;
    border: none;
    margin-top: 0;
}

.snippet .prim-job-search-innner .search-select, .snippet .sec-job-search-inner .search-select
{
    color: #fff;
    margin-bottom: 16px;
}

.search-select .form fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}

.snippet .prim-job-search-innner .search-select .form fieldset legend, .snippet .sec-job-search-inner .search-select .form fieldset legend
{
    float: left;
    margin: 0 20px 0 0;
    width: auto;
}

.search-select .form label
{
    margin: 0;
    width: auto;
}

.search-select .form .form-element ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.snippet .search-select .form .form-element ol
{
    margin-top: -5px;
}

.snippet .search-select .form .form-element ol li
{
    float: left;
    position: relative;
}

.snp-full-sec-job-search .search-select .form .form-element ol li input[type="radio"] + label:before
{
    border: none;
}

@media only screen and (max-width: 800px)
{
    .search-select .form .form-element ol li
    {
        float: left;
    }
}

.search-select .form .form-element ol li:first-of-type
{
    margin-right: 15px;
}


/* My Randstad */
.profile-account-inner .form .form-field input[type="checkbox"] + label:before
{
    margin-top: 3px;
}

.profile-account-inner .form-element.is-required:after
{
    margin-left: 28px;
    top: -4px;
}

.cms-profile-account-wrapper .profile-account-inner .header
{
    font-size: 20px;
}

.cms-profile-account-wrapper .profile-account-inner
{
    margin-bottom: 30px;
}

.profile-account-inner .cms-icons.cms-icons-valid
{
    float: left;
}

@media only screen and (min-width: 801px)
{
    .cms-profile-account-wrapper .profile-account-inner
    {
        float: right;
        width: 74%;
    }

    .cms-profile-account-wrapper .profile-account-inner .form
    {
        width: 100%;
    }
}


/* _primary job search > Link list */
@media only screen and (min-width: 501px)
{
    .snp-prim-job-search .job-links.links-list li
    {
        width: 50%;
    }
}


/* Cookie disclaimer module */

.cookie-analytics ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cookie-analytics li
{
    display: inline-block;
    margin-right: 15px;
    position: relative;
}

.cookie-disclaimer .box-inner
{
    z-index: 4;
}
