
/* ===== Google drive upload button */
.google-drive-btn, .google-drive-btn:link, .google-drive-btn:visited, .google-drive-btn:hover
{
	background: #f5f5f5 url("/Images/Google/google-drive.png") no-repeat 4px 3px;
	border-color: #ebebeb #ebebeb #d4d4d4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #636363;
	display: inline-block;
	font-family: "Lucida Grande","Segoe UI","Tahoma","Helvetica Neue","Helvetica",sans-serif;
	font-size: 11px;
	font-weight: 600;
	height: 20px;
	line-height: 20px;
	padding: 0 7px 0 24px;
	text-decoration: none;
}

.dropbox-dropin-btn, .dropbox-dropin-btn:link, .dropbox-dropin-btn:visited, .dropbox-dropin-btn:hover
{
	color: #636363;
}
