@font-face
{
    font-family: 'Graphik Web';
    src: url('/Fonts/Graphik-Regular-Web.eot');
    src: url('/Fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'), url('/Fonts/Graphik-Regular-Web.woff2') format('woff2'), url('/Fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

.Graphik-Regular-Web
{
    font-family: 'Graphik Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}


/* DYNAMIC SNIPPET HUBSPOT */
.snp-hubspot-form
{
    padding-bottom: 50px;
    padding-top: 50px;
}

.snp-hubspot-form .box-inner h2
{
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -1px;
}

.inputs-list.multi-container .hs-form-checkbox
{
    margin-bottom: 15px !important;
}

@media only screen and (min-width: 941px)
{
    .snp-hubspot-form
    {
        padding-bottom: 130px;
        padding-top: 130px;
    }

    .snp-hubspot-form .box-inner
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .snp-hubspot-form .box-inner h2
    {
        font-size: 26px;
        width: calc(13/58 * 100%);
    }

    .snp-hubspot-form .box-inner div
    {
        font-size: 20px;
        margin-left: auto;
        margin-top: 4px;
        width: calc(43/58 * 100%);
    }
}


/* FORM FIELDS */
form.hs-form input, form.hs-form textarea, form.hs-form select
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    max-width: 100% !important;
    width: 100% !important;
}


form.hs-form input[type="text"], form.hs-form input[type="tel"], form.hs-form input[type="number"], form.hs-form input[type="email"], form.hs-form input[type="date"],
form.hs-form input[type="search"], form.hs-form input[type="password"]
{
    border: 1px solid #d7d7d7;
    color: #0f1941;
    font: normal 16px/1.5 'Graphik Web',Tahoma,sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
}

form.hs-form textarea
{
    border: 1px solid #d7d7d7;
    color: #0f1941;
    font: normal 16px/1.5 'Graphik Web',Tahoma,sans-serif;
    padding: 16px;
}

form.hs-form select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/Images/System/backgrounds/select-arrow.png") no-repeat scroll right center;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    color: #a1a1a1;
    font: normal 16px/1.5 'Graphik Web',Tahoma,sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 0 46px 0 16px;
}

form.hs-form select option
{
    padding: 5px;
}

.hs-form fieldset.form-columns-1 input[type="checkbox"], .hs-form fieldset.form-columns-1 input[type="radio"],
form.hs-form .hs-form-checkbox input[type="radio"], form.hs-form .hs-form-checkbox input[type="checkbox"]
{
    width: 20px !important;
}

form.hs-form input.hs-input.error, form.hs-form div.field.error input, form.hs-form div.field.error textarea, form.hs-form div.field.error .chzn-choices, form.hs-form textarea.hs-input.error
{
    box-shadow: none;
}

form.hs-form input.hs-input:focus, form.hs-form textarea.hs-input:focus
{
    box-shadow: none !important;
}

form.hs-form .hs-form-required
{
    color: #0f1941;
    margin-left: 10px;
}

@media only screen and (min-width: 413px)
{
    form.hs-form input[type="text"], form.hs-form input[type="tel"], form.hs-form input[type="number"], form.hs-form input[type="email"], form.hs-form input[type="date"],
    form.hs-form input[type="search"], form.hs-form input[type="password"]
    {
        font: normal 20px/1.5 'Graphik Web',Tahoma,sans-serif;
        height: 80px !important;
        line-height: 80px !important;
        padding: 0 20px;
    }

    form.hs-form textarea
    {
        font: normal 20px/1.5 'Graphik Web',Tahoma,sans-serif;
        padding: 20px;
    }

    form.hs-form select
    {
        font: normal 20px/1.5 'Graphik Web',Tahoma,sans-serif !important;
        height: 80px;
        line-height: 80px;
        padding: 0 50px 0 20px;
    }
}

@media only screen and (min-width: 690px)
{

    form input[type="text"], form input[type="tel"], form input[type="number"], form input[type="email"], form input[type="date"], form input[type="search"], form input[type="password"]
    {
        padding: 0 30px;
    }

    form textarea
    {
        padding: 30px;
    }

    select
    {
        padding: 0 60px 0 30px;
    }
}

@media only screen and (min-width: 801px)
{
    .job-apply-left .form-field select
    {
        padding: 0 40px 0 20px !important;
    }
}

@media only screen and (min-width: 1170px)
{
    .job-apply-left .form-field select
    {
        padding: 0 60px 0 30px !important;
    }
}

/* BUTTONS */
form.hs-form .hs-button, form.hs-form .hs-button:visited, form.hs-form .hs-button:active
{
    background: none;
    border: 1px solid #2175d9;
    border-radius: 3px;
    box-shadow: none;
    color: #2175d9;
    cursor: pointer;
    display: inline-block;
    font: 400 16px/48px 'Graphik Web',Tahoma,sans-serif;
    height: 50px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    text-shadow: none;
    text-overflow: ellipsis;
    transition: all 0.2s ease-out;
    white-space: nowrap;
    -webkit-appearance: none;
    width: auto !important;
}

form.hs-form .hs-button:hover, form.hs-form .hs-button:hover:not(.inactive), form.hs-form .hs-button:focus:not(.inactive), form.hs-form .hs-button.hovered:not(.inactive)
{
    background: #2175d9;
    box-shadow: none;
    border-color: #2175d9;
    color: #fff;
    text-decoration: none;
}

form.hs-form .hs-button:active:not(.inactive):not(.link), form.hs-form .hs-button.depressed:not(.inactive):not(.link), .dropdown-open > form.hs-form .hs-button:not(.inactive):not(.link)
{
    background: #2175d9;
    border-color: #2175d9;
    box-shadow: none;
}

@media only screen and (min-width: 430px)
{
    form.hs-form .hs-button, form.hs-form .hs-button:visited, form.hs-form .hs-button:active
    {
        height: 60px !important;
        line-height: 58px !important;
        padding: 0 30px !important;
    }
}

@media only screen and (min-width: 690px)
{
    form.hs-form .hs-button, form.hs-form .hs-button:visited, form.hs-form .hs-button:active
    {
        border-width: 2px !important;
        font-size: 18px !important;
        height: 80px !important;
        line-height: 76px !important;
    }
}



/* ==|== hubspot.css info + index ======================================
    
    hubspot.css contains styling applied to inlined Hubspot forms to
    mimic the defalt Blue2NG form layout.
*/

.hubspot-form-page,
.hubspot-form-page body
{
    overflow: hidden; /*prevent scrollbar during ifram resize*/
}

.hubspot-form-page body
{
    color: #0f1941; /*CssOverride: [body-color]*/
    font: 400 16px/1.2 'Graphik Web',Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.hubspot-form-iframe
{
    border: 0;
    overflow: hidden;
    width: 100%;
}

form.hs-form
{
    font-size: 18px;
    margin-bottom: 0;
}

form.hs-form fieldset
{
    padding-right: 0;
    max-width: 100%;
    width: 100%;
}

form.hs-form fieldset .input
{
    margin-right: 0 !important;
}

form.hs-form label, form.hs-form.stacked label
{
    color: #0f1941; /*CssOverride: [body-color]*/
    font: 400 18px/1.2 'Graphik Web',Tahoma,sans-serif;
    margin-bottom: 5px;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

form.hs-form input:not([type="image"]), form.hs-form textarea
{
    box-sizing: border-box;
}

form.hs-form .hs-input, form.hs-form textarea.hs-input
{
    max-width: 100%;
    width: 100%;
}

form.hs-form .actions
{
    border-bottom: 0;
    padding: 0;
}

form.hs-form.stacked .actions
{
    margin: 0;
    padding-bottom: 4px; /*add padding to make sure bottom shadow doesn't get cropped*/
    padding-left: 0;
}

form.hs-form .hs-form-field
{
    margin-bottom: 15px;
}

form.hs-form fieldset.form-columns-2 .hs-form-field
{
    clear: left;
    width: 100%;
}




/*form validation*/
.hs-form .hs-error-msgs.inputs-list label
{
    color: red;
    display: inline-block;
    margin-top: 4px;
}

.hs-form .hs-error-msgs.inputs-list
{
    padding-left: 0;
}

input.hs-input.error, .hs-form div.field.error input, .hs-form div.field.error textarea, .hs-form div.field.error .chzn-choices, textarea.hs-input.error, .hs-form div select.invalid
{
    border-color: red !important; /*overwrite inline style block*/
}

form select.hs-input
{
    font-size: 14px;
}

@media only screen and (min-width: 501px)
{
    form input.hs-input, form textarea.hs-input, form select.hs-input, form .hs-input.uneditable-input
    {
        font-size: 14px;
    }
}


/* HUBSPOT FORM CHECKBOX + RADIO*/
input.hs-input[type="checkbox"], input.hs-input[type="radio"]
{
    left: 3px !important;
    margin-bottom: 0;
    position: absolute !important;
    text-align: left !important;
    top: 8px !important;
    width: auto !important;
    z-index: -1 !important;
}

input.hs-input[type="radio"]
{
    top: 4px !important;
}

input.hs-input[type="checkbox"] + span:before
{
    background: #fff;
    border: 2px solid #d7d7d7;
    border-radius: 2px;
    content: "";
    float: left;
    height: 24px;
    margin-left: -5px;
    margin-right: 10px;
    margin-top: 0;
    padding-left: 20px;
}

input.hs-input[type="checkbox"] + span:hover:before
{
    border: 2px solid #2175d9;
}

input.hs-input[type="checkbox"]:checked + span:before
{
    background: #2175d9;
    border: 2px solid #2175d9;
    color: #fff;
    content: "\ea10";
    height: 24px;
    padding-left: 0;
    padding-top: 1px;
    text-align: center;
    width: 24px;
}

input.hs-input[type="radio"] + span:before
{
    background: #fff;
    border: 2px solid #d7d7d7;
    border-radius: 12px;
    content: "";
    float: left;
    height: 24px;
    margin-left: -5px;
    margin-right: 10px;
    margin-top: 0;
    padding-left: 20px;
}

input.hs-input[type="radio"] + span:hover:before
{
    border: 2px solid #2175d9;
}

input.hs-input[type="radio"]:checked + span:before
{
    background: #fff;
    border: 2px solid #2175d9;
    color: #fff;
    content: "";
}

input.hs-input[type="radio"]:checked + span:after
{
    background: #2175d9;
    border-radius: 8px;
    content: "";
    height: 16px;
    left: -1px;
    position: absolute;
    top: 4px;
    width: 16px;
}
