
/* ==|== _1 high resolution images =======================================
   refer elements with background images to retina ready stylesheet for
   beter quality images
========================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
{
    /*navigation.css*/
    .worldwidemenu-continents a:before, .worldwidemenu-continents-page a:before
    {
        background-image: url(/Images/System/Backgrounds/sprite-flags@2x.png);
        background-size: 500px 300px;
    }

    /*navigation.css*/
    .nav-utility .my-randstad:before,
    .nav-utility-language-active:before,
    /*modules.css*/
    .refine-search:after,
    .job-actions a:after,
    .newsItemReturnToIndex a:after,
    .cms-faq-header-closed:after,    
    /*snippets.css*/
    .snippet .prim-link-list li a:after,
    /*misc.css*/
    .has-bg-img, .has-bg-img-before:before, .has-bg-img-after:after,
    /*jobsearch.css*/
    .salary-filter input[type="radio"]:checked + label:before, .salary-filter input[type="radio"] + label:before, a.remove-selected-filter
    {
        background-image: url(/Images/System/Backgrounds/sprite@2x.png);
        background-size: 700px 550px;
    }


    .has-bg-icon, .has-bg-icon-before:before, .has-bg-icon-after:after
    {
        background-image: url(/Images/System/Backgrounds/sprite-icons@2x.png);
        background-size: 500px 500px;
    }
}